
<div id="product">
    <form id="productShow" action="index.php" method="post" 
        enctype="multipart/form-data">
        <input type="hidden" value="product.saveproduct" name="task" />			
        <input type="hidden" v-model="record.id" name="id" />
        <input type="hidden" v-model="flowKey" name="flowKey" />
        <div class="row text-center">
            <h2>Termék</h2>
        </div>
        <div class="row">
            <div class="form-outline col-12">
                <label>{{ lng('ID') }}:&nbsp;</label>
                {{ record.id }}
            </div>
        </div>
        <div class="row">
            <div class="form-outline col-12">
                <label>{{ lng('NAME') }}:&nbsp;</label>
                <input name="name" class="form-control" disabled="disabled"
                        v-model="record.name" type="text" required="true" />
            </div>
        </div>
        <div class="row">
            <div class="form-outline col-12">
                <label>{{ lng('TYPE') }}:&nbsp;</label>
                <select name="type" class="form-control"  disabled="disabled"
                        v-model="record.type" required="true">
                        <option value="fogy.cikk">Fogyasztási cikk</option>    
                        <option value="termelő eszköz">Termelő eszköz</option>    
                        <option value="alkatrész">Alkatrész</option>    
                        <option value="alapanyag">Alapanyag</option>    
                    </select>
            </div>
        </div>
        <div class="row">
            <div class="form-outline col-12">
                <label>{{ lng('UNIT') }}:&nbsp;</label>
                <input name="unit" class="form-control"  disabled="disabled"
                        v-model="record.unit" type="text" required="true" />
            </div>
        </div>
        <div class="row">
            <div class="form-outline col-12">
                <label>{{ lng('WORKHOURS') }}:&nbsp;</label>
                <input name="workHours" class="form-control"  disabled="disabled"
                        v-model="record.workHours" type="float" required="true" />
            </div>
        </div>
        
        <div class="row formBUttons">
            <div class="col-12">
                <a v-bind:href="HREF('product.products')" class="btn btn-secondary">
                    <em class="fas fa-reply"></em>&nbsp;OK
                </a>&nbsp;
            </div>
        </div>
        
    </form>    
</div>

<script>
    methods = {
    }    
</script>
